/**
@author: Sajan Paul,
@since:  2019-12-07,
@description : General Styles
*/

@font-face {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    src: local('Overpass Regular'), local('Overpass-Regular'), url(./../../fonts/overpass.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Overpass Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Overpass Mono Regular'), local('OverpassMono-Regular'), url(./../../fonts/overpass-mono.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}




* {
    box-sizing: border-box;
    --color_dark: #71c9ce;
    --color_pri: #a6e3e9;
    --color_sec: #cbf1f5;
	--color_light: #e3fdfd;
	--color-prime-dark:#0297a0;
}

body {
    padding: 0px;
    margin: 0px;
}

.install-toast {
    position: fixed;
    background-color: #ffffff;
    box-shadow: -1px -1px 6px 0px #bfbfbf;
    width: 199px;
    height: 35px;
    bottom: 10px;
    right: 10px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.install-toast button {
    background-color: var(--color_dark);
    border: 1px solid #4d4a4a;
    width: 24px;
    height: 24px;
    font-size: 20px;
    line-height: 20px;
    color: #ffffff;
    border-radius: 50px;
    outline: none;
    text-align: center;
}

.install-toast label {
    font-size: 18px;
    color: #4d4a4a;
    display: inline-block;
    font-family: 'Overpass';
}

.no-js-error {
    position: fixed;
    z-index: 999999999;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    color: #ffffff;
    user-select: none;
    background-color: #003335d4;
}

.no-js-error .no-js-error-block {
    text-align: center;
    width: 100%;
    line-height: 50px;
    position: fixed;
    top: calc(50% - 30px);
    font-family: arial;
}

.no-js-error .no-js-error-text {
    text-align: center;
    display: inline-block;
    border: 1px solid white;
    padding: 10px;
    font-family: arial;
}
