.menu-area {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--color_dark);
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-area ol {
    font-family: 'Overpass';
    font-size: 18px;
    color: #e3fdfd;
}
.menu-area ol  li {
    margin: 30px;
}
.menu-area ol  li a,
.menu-area ol  li a:active {
    text-decoration: none;
    color: #e3fdfd;
}
.menu-area ol  li a:hover,
.menu-area ol  li a:focus{
    color: #ffffff;
}
.menu-area ol  li a[disabled] {
    color: #a9a9a9;
    pointer-events: none;
    cursor: default;
}
.menu-area ol  li samp {
    font-family: 'Overpass mono';
    font-size: 10px;
    color: #e3fdfd;
    background-color: #299096;
    padding: 4px;
    display: inline-block;
}
.greeting-buble{
    width: 100px;
    height: 100px;
    overflow: hidden;
    background-color: orange;
    border-radius: 50px;
    position: absolute;
    bottom: 0px;
    right: 150px;
    display: none;
}
.greeting-buble:hover .bubble-text{
    display: block;

}

.greeting-buble .min-greet{
    display: initial;
}
.greeting-buble:hover .min-greet{
    display: none;
}
.greeting-buble .welcome-greet{
    display: none;
}
.greeting-buble:hover .welcome-greet{
    display: initial;
}
.greeting-buble:hover{
    display: block;
    border-radius: 5px;
    width: 240px;
    height: 140px;
    transition-property: width, height, border-radius;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}
.bubble-title {
   text-align: center;
   text-shadow: 1px 1px 1px #694300;
   color: white;
   font-family: 'Leckerli one';
}
.bubble-text {display: none;}

.clipcontainer h1 {
    font-size: 7vw;
}

@media all and (min-width: 800px) {
    .menu-area {
        width: 50%;
        animation: lefttransiton 1000ms cubic-bezier(0.1, 0.73, 0.58, 1);
    }
    .greeting-buble{
        display: block;
        opacity: 0;
        animation: greet-entry 1500ms cubic-bezier(0, 0.32, 0.26, 1.32) 500ms 1 normal;
        animation-fill-mode: forwards;
    }
}

@keyframes lefttransiton {
    0% {
        width: 100%;
        
    }
    100% {
        width: 50%;
    }
}

@keyframes greet-entry{
    0%{
        opacity: 0;
        transform: scale(0) translateX(0px) translateY(0px);
    }
    10%{
        opacity: 1;
        transform: scale(.3) translateX(-10px) translateY(10px);
    }

    100%{
        opacity: 1;
        transform: scale(1) translateX(-164px) translateY(-380px);
    }

}
/* scale(1) translateX(-484px) translateY(20px); */