/**
@author: Sajan Paul,
@since:  2019-12-07,
@description : Home Page Style
*/
.menu-area {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--color_dark);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column; }
  .menu-area .remarks {
    font-size: 12px;
    font-family: "Overpass mono";
    padding: 10px;
    animation: 3s fade-in ease-in;
    display: block;
    background: #6ac2c7;
    border-radius: 10px;
    position: absolute;
    bottom: 5px; }
  .menu-area .main-content {
    font-family: Overpass;
    animation: 3s fade-in ease-in;
    color: black;
    font-size: 14px;
    line-height: 16px; }
    .menu-area .main-content a,
    .menu-area .main-content a:hover,
    .menu-area .main-content a:active,
    .menu-area .main-content a:focus {
      color: black !important; }
  .menu-area ol {
    font-family: "Overpass";
    font-size: 18px;
    color: #e3fdfd; }
    .menu-area ol li {
      margin: 30px; }
      .menu-area ol li a {
        text-decoration: none;
        color: #e3fdfd; }
        .menu-area ol li a[disabled] {
          color: #a9a9a9;
          pointer-events: none;
          cursor: default; }
        .menu-area ol li a:focus {
          color: #ffffff; }
        .menu-area ol li a .github-icon {
          height: 16px;
          display: inline-block;
          margin-top: -4px; }
      .menu-area ol li samp {
        font-family: "Overpass mono";
        font-size: 10px;
        color: #e3fdfd;
        background-color: #299096;
        padding: 4px;
        display: inline-block; }

.greeting {
  display: none;
  position: absolute;
  bottom: 0px;
  right: 150px; }
  .greeting .greeting-bubble {
    display: flex;
    position: absolute;
    width: 100px;
    height: 100px;
    overflow: hidden;
    background-color: orange;
    border-radius: 50px;
    justify-content: center;
    align-items: center; }
    .greeting .greeting-bubble .bubble-title {
      color: white;
      font-size: 32px;
      font-family: Overpass; }
  .greeting .greeting-box {
    position: absolute;
    border-radius: 5px;
    width: 240px;
    height: 140px;
    background-color: orange;
    display: none;
    transform: translate(-25%, -25%); }
    .greeting .greeting-box .greeting-box-title {
      text-align: center;
      text-shadow: 1px 1px 1px #694300;
      color: white;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Overpass;
      font-size: 30px; }
    .greeting .greeting-box .greeting-box-desc {
      font-family: cursive;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      padding: 5px; }
  .greeting:hover .greeting-bubble {
    display: none; }
  .greeting:hover .greeting-box {
    display: block; }

.clip-container h1 {
  font-size: 7vw; }

@media all and (min-width: 800px) {
  .menu-area {
    width: 50%;
    animation: left-transition 1000ms cubic-bezier(0.1, 0.73, 0.58, 1); }
  .greeting {
    display: block;
    opacity: 0;
    animation: greet-entry 1500ms cubic-bezier(0, 0.32, 0.26, 1.32) 500ms 1 normal;
    animation-fill-mode: forwards; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes left-transition {
  0% {
    width: 100%; }
  100% {
    width: 50%; } }

@keyframes greet-entry {
  0% {
    opacity: 0;
    transform: scale(0) translateX(0px) translateY(0px); }
  10% {
    opacity: 1;
    transform: scale(0.3) translateX(-10px) translateY(10px); }
  100% {
    opacity: 1;
    transform: scale(1) translateX(-164px) translateY(-380px); } }
