/**
@author: Sajan Paul,
@since:  2019-12-07,
@description : Match the following styles
*/
mtf-page-el {
  display: block;
  display: grid; }
  mtf-page-el .json-box {
    grid-area: json;
    display: block;
    position: relative; }
  mtf-page-el .mtf-wrapper {
    grid-area: mtf;
    display: flex;
    align-items: center;
    justify-content: center; }
  mtf-page-el .error-logger {
    grid-area: error; }
  mtf-page-el.grid-parent {
    grid-template-columns: 1fr 600px;
    grid-template-rows: 1fr 600px 1fr 400px 180px;
    grid-template-areas: "mtf mtf" "mtf mtf" "json json" "json json" "error error"; }

.json-text-area {
  resize: none;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  display: block;
  font-size: 15px;
  font-family: "Overpass mono";
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  outline: none;
  border: 1px #d0d0d0 solid; }
  .json-text-area:hover + .floating-panel,
  .json-text-area:focus + .floating-panel {
    display: flex; }

.floating-panel {
  position: absolute;
  top: 10px;
  background-color: #f6f6f6;
  right: 30px;
  box-shadow: 0px 2px 2px 0px #d0d0d0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100px;
  height: 40px;
  display: none;
  justify-content: space-evenly;
  align-items: center; }
  .floating-panel:hover {
    display: flex; }
  .floating-panel .float-button {
    display: inline-flex;
    height: 30px;
    width: 30px;
    border: none;
    outline: none;
    background-color: inherit;
    justify-content: center;
    align-items: center;
    padding: 0px; }
    .floating-panel .float-button:active {
      transform: scale(0.9); }
    .floating-panel .float-button .icon {
      width: 25px;
      height: 25px; }

.error-list {
  color: red;
  font-size: 15px;
  font-family: "Overpass mono";
  padding: 10px;
  min-height: 60px;
  height: auto;
  width: auto;
  overflow: auto; }

.error-logger .btn-panel {
  padding: 10px; }
  .error-logger .btn-panel .btn-apply,
  .error-logger .btn-panel .btn-check {
    padding: 5px;
    background-color: #ffffff;
    color: var(--color-prime-dark);
    border: 1px solid var(--color-prime-dark);
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90px;
    margin: 5px 15px; }
    .error-logger .btn-panel .btn-apply:active,
    .error-logger .btn-panel .btn-check:active {
      background-color: #cbf1f5; }
  .error-logger .btn-panel .btn-apply {
    width: 170px; }

.error-logger details {
  border: 1px solid #aaa;
  border-radius: 4px; }

.error-logger summary {
  font-family: "Overpass";
  font-weight: bold;
  padding: 5px;
  background-color: var(--color-prime-dark);
  color: white;
  border-bottom: 1px solid #aaa;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .error-logger summary h4 {
    justify-self: flex-end;
    display: block;
    margin-right: auto; }
  .error-logger summary .clear-errors {
    border: 1px solid white;
    color: white;
    padding: 5px 14px;
    border-radius: 10px;
    background-color: inherit;
    font-size: 12px; }
    .error-logger summary .clear-errors:active {
      background-color: #377279; }

.icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-size: cover; }
  .icon.icon-cancel {
    background-image: url(../../icons/clear.svg); }
  .icon.icon-apply {
    background-image: url(../../icons/apply.svg); }
  .icon.icon-check {
    background-image: url(../../icons/check.svg); }
  .icon.icon-reset {
    background-image: url(../../icons/reset.svg); }
  .icon.icon-copy {
    background-image: url(../../icons/copy.svg); }

@media all and (min-width: 1200px) {
  mtf-page-el.grid-parent {
    grid-template-columns: 1fr 600px 1fr 600px;
    grid-template-rows: 400px 1fr 180px;
    grid-template-areas: "mtf mtf json json" "mtf mtf json json" "mtf mtf error error"; } }

mtf-el {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: 1fr; }

.mtf-block {
  display: block;
  height: 42px;
  width: 252px;
  margin: 24px;
  position: relative;
  user-select: none;
  cursor: move;
  --mtf-bg: #ffffff; }
  .mtf-block.status-correct {
    --mtf-bg: #e2ffd9; }
  .mtf-block.status-wrong {
    --mtf-bg: #ffcfcf; }
  .mtf-block.status-skip {
    --mtf-bg: #ffffca; }
  .mtf-block .mtf-block-connect {
    display: inline-block;
    height: 40px;
    position: relative;
    width: 20px; }
  .mtf-block .mtf-block-label {
    display: inline-flex;
    height: 40px;
    width: 230px;
    position: absolute;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: "Overpass"; }
  .mtf-block .drag-place-holder {
    user-select: none;
    opacity: 0.5; }
  .mtf-block.premise .mtf-block-label {
    border-right: none;
    background-color: var(--mtf-bg); }
  .mtf-block.premise.join {
    right: -35px; }
  .mtf-block.premise .connect-block.connect-top, .mtf-block.premise .connect-block.connect-bottom {
    border-left: 1px solid black; }
  .mtf-block.premise .connect-block.connect-middle {
    border: 1px solid black;
    border-left: none;
    background-color: var(--mtf-bg); }
  .mtf-block.response .mtf-block-label {
    border-left: none;
    background-color: var(--mtf-bg); }
  .mtf-block.response.join {
    left: -35px; }
  .mtf-block.response .connect-block.connect-top, .mtf-block.response .connect-block.connect-bottom {
    border: 1px solid black;
    border-right: none;
    background-color: var(--mtf-bg); }
  .mtf-block.response .connect-block.connect-middle {
    border-right: 1px solid black; }

.premise .mtf-block-connect {
  left: 230px;
  top: 0px; }

.premise .mtf-block-label {
  left: 0px;
  top: 0px; }

.response .mtf-block-label {
  left: 20px;
  top: 0px; }

.response .mtf-block-connect {
  left: 0px;
  top: 0px; }

.mtf-block-connect .connect-block {
  position: absolute;
  width: 20px;
  height: 10px; }
  .mtf-block-connect .connect-block.connect-top {
    position: absolute;
    top: 0px; }
  .mtf-block-connect .connect-block.connect-middle {
    position: absolute;
    height: 20px;
    top: 10px; }
  .mtf-block-connect .connect-block.connect-bottom {
    position: absolute;
    top: 30px; }

.drag-ghost-element {
  position: fixed !important;
  z-index: 99999999 !important;
  pointer-events: none !important;
  user-select: none !important;
  margin: 0px !important; }

.overlay-mark {
  display: block;
  position: fixed;
  z-index: 9999999999999999999999;
  pointer-events: none; }

.targeted-marker {
  background-color: rgba(255, 0, 0, 0.356); }

.active-marker {
  background-color: rgba(76, 0, 255, 0.356); }
